h1{
    color: brown;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.style1{

    color: antiquewhite;
    font-size: 25px;
}

.style2{

    color: rgb(44, 207, 44);
    font-size: 20px;
}

body{
    background-image:url("Bk.webp") ;
    background-repeat: no-repeat;
    background-size: cover;  
}

.my_div{
    height: 700px;
    width: 400px;
    background-color:transparent; 
    border-radius: 10px 80px 10px 10px;
    border-style: ridge;
    margin:50px 50px 50px 450px ;
    padding-left: 100px;
}

button{
    background-color: brown;
    border-radius: 10px;
    color: black;
    height: 45px;
    width: 150px;
    font-size: xx-large;
    margin-left: 80px;
}

button:hover{
    background-color: greenyellow;
    height:50px ;
    width: 155px;
}